@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@700&family=Open+Sans:wght@300;400;700&display=swap');
body{
    font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
margin: 0px;
}


:root{
    --primary-color:#ef4444;
    --secondary-color:white;
    --dark-gray:gray;
    --off-white:rgb(244, 224, 224);

    
}


hr{
    margin: 2rem 0rem;
}
 /*container  */

 .container
 {
    padding-left: 2rem;
    padding-right: 1rem;
 }


 .center-container
 {
    max-width: 600px;
    margin: auto;
    text-align: center;
 }


 /* links  */

 .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
 }

 .link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1rem auto;
    border-radius: 2rem;
  }
  
  .link-secondary {
    max-width: 140px;
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  


 .non-bullet{
    list-style: none;
 }



.list-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}


/* navigation */
.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
 color: white;
}


.navigation .link-active
{
    font-weight: bold;
    color: white;
}


.navigation .nav-brand
{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills
{
    text-align: right;
}




/* header */
.hero {
    padding: 2rem;
    padding-top: 5rem;
  }
  
  .hero .hero-img {
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
  }
  
  .hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
  }
  
  .hero .hero-heading .heading-inverted {
    color: var(--primary-color);
  }
  

/* section */
.section {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
  }
  
  .section h1 {
    text-align: center;
  }
  
  .ow {
    background-color: var(--off-white);
  }



/* blogsection */
.showcase-blog{
    --primary-color:red;
--secondary-color:white;
--dark-gray:gray;
--off-white:#fecaca;

font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
max-width: 900px;
margin: auto;
padding-bottom: 6rem;
width: auto;
}



.showcase-list
{
    --primary-color:red;
    --secondary-color:white;
    --dark-gray:gray;
    --off-white:#fecaca;

    font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
    list-style: none;
    max-width: 900px;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
    width: auto;
}


/* footer */

.footer{
    --primary-color:#ef4444;
--secondary-color:white;
--dark-gray:gray;
--off-white:#fecaca;

font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
background-color: var(--primary-color);
padding: 2rem 1rem;
text-align: center;
font-weight: bold;
color: white;
border-top-right-radius: 1rem;
}


.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}

.footer .footer-header
{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding: 0px;
}

